  <div class="navbar navbar-fixed-top navbar-default" role="navigation" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button data-toggle="collapse-side" data-target=".side-collapse" type="button" class="navbar-toggle pull-left">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="nav-brand" href="#">TUTORS</a>
      </div>
      <div id="side-menu" class="side-collapse in">
        <div class="side-menu-container">
          <nav role="navigation" class="navbar-collapse">
            <a id="side-menu-collapse"><i class="fa fa-times fa-2x"></i></a>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#howitworks">How It Works</a></li>
              <li><a href="/teacher">Become a Tutor</a></li>
              <% if(!user_signed_in?) %>
                <li><a href="#"  data-toggle="modal" data-target="#ModalSignUp" >Sign Up</a></li>
                <li><a href="#" data-toggle="modal" data-target="#ModalLogin" >Login</a></li>
              <% else %>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </nav>          
        </div>
      </div>
    </div>
  </div> <!-- navbar-fixed-top -->