development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "3fffde2358f1f366bd37246848e6bbd261317ad38934c82373fa8e635c2d8d92"
  signature_expiration: 3600 # one hour
