@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "become_a_teacher";
@import "languages.min";
@import "search_results";
@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";




/* Basic Page CSS */
html,body {
  height:100%;
  font-size: 16px;
}

/* Navigation */

.navbar.scrolled {
  background-color: #fff;
  border-bottom: 1px solid #adadad;
   
  ul.nav.navbar-nav li a, 
  ul.nav.navbar-nav li a:hover,
  #nav-brand,button.navbar-toggle.pull-left span.icon-bar {
    color: #000;
  }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent; 
} /*prevent background color on focus*/

.navbar-collapse .navbar-right li a:focus, nav li a:hover {
  border-color:  none;
  box-shadow: none;
  outline: none;
  color: #fff;
} /*prevent outline on focus*/
 
.navbar {
  background-color: transparent;
  border: none; 
}

ul.nav.navbar-nav li a {
  color: #FFFFFF;
  font-size:  1.14286rem;
}

ul.nav.navbar-nav li a:hover {
  color: #fff;
}


#nav-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}    

button.navbar-toggle.pull-left span.icon-bar {
  background-color: #fff;
} 
      
button.navbar-toggle.pull-left {
  border: none;
}





/* Auth Modal */

  .modal-close {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .modal.auth-modal .modal-dialog .modal-content {
    padding: 20px;
  }
  
  .modal-body {
    padding-right: 0;
    padding-left: 0;
  }

  .social-buttons {
    text-align: center;
  }

  .btn-facebook {
    background-color: #3B5998;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    font-weight: bold;
  }

  .btn-google {
    background-color: #DC4E41;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    margin-top: 8px;
    font-weight: bold;
  }
  .btn-email {
    background-color: #fff;
    border-color: #c4c4c4;
    border: 1px solid;
    border-radius: 2px;
    color: #565a5c;
    width: 100%;
    font-weight: bold;
  }

  .or-seperator {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .login-switch {
    padding: 20px 20px 0 20px;
    text-align: center;
  }





/*Login Modal*/
.email-row {
  margin-bottom: 7px;
}

#ModalLogin form .form-control {
  border-radius: 2px;
}

.btn-login, .btn-signup {
  margin-top: 15px;
  width: 100%;
  background-color: #55acee;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
}

.password-confirm {
  margin-top: 7px;
}

/* Carousel */

.carousel.fade {
  background-color: rgba(0,0,0,0.3);
  opacity: 1;
}

.carousel.fade .item {
  z-index: -1;
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;/*   WHY */
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

#featured .item {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

/* Carousel inner elements */

#home-header, #featured, .fullheight {
  min-height: 475px;
}

.home-header h1.container {
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 45%;
  width: 100%;
  font-weight: bold;
  letter-spacing: -.05em;
  text-shadow: #000 2px 2px 15px;
}
.home-header h2.container {
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 65%;
  width: 100%;
  font-weight: normal;
  text-shadow: #000 2px 2px 15px;
}
.form-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0;
  text-align: center;
}

.form-container .well {
  background-color: rgba(0,0,0,.65);
  border: none;
}


/*  how it works section */

.how {
  background-color: #ff;
}

.how .container {
  padding-top: 30px;
  text-align: center;
}

.how .row {
  padding-top: 20px;
  padding-bottom: 70px;
}

.icon_image {
  width: 180px;
  height: 180px;
}

/*teacher section*/

.teacher {
  background-color: #2d96dd;
}

.teacher .container {
  color: #fff;
  padding-top: 30px;
  text-align: center;
}

.teacher .container p {
  padding-bottom: 30px;
  color: #f5f5f1;
}

.btn-teach {
  color: #fff;
  border-radius: 0;
  background-color: #f2c200;
}

/* footer */

.footer {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 10px;
}

.terms, .copyright {
  color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  
  .navbar {
    background-color: rgba(0,0,0,.2);
    border-bottom: 1px solid #adadad; 
  } 
  #side-menu-collapse {
    color: #fff;
  }
  
  .side-collapse {
      top: 0;
      left: 0;
      width: 85%;
      height: 100%;
      position: fixed;
      overflow: hidden;
      background-color: #202024;
  }

  .side-collapse.in {
      width: 0;
      background-color: #202024;
  }

  .side-menu-container {
    padding: 16px;
  }
  
  .navbar-collapse {
    border: none;
    box-shadow: none;
  }
  .navbar-brand {
    padding-left: 0;
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    text-align: center;
    margin-left: 40%;
  }
  .home-header h1.container {
    font-size: 32px;
    top: 40%;
  }

  .home-header h2.container {
    font-size: 18px;
    top: 68%;
  }
  .btn-group {
    position: relative;
    bottom: 75px;
    width: 100%;
  }
  .btn-group .language-button {
    width: 80%;
  }
  .btn-group .search-button {
    background-color: #070716;
    color: #fff;
  }

  button.btn.btn-default.search-button {
    margin-left: -8px;
  }

  div.xs-buttons {
    text-align:center;
  }

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
  }
}


@media only screen and (min-width: 767px) {
  .modal.auth-modal .modal-dialog {
    width: 315px;
    position: relative;
  }
  .modal.auth-modal .modal-dialog .modal-content {
      border-radius: 2px;
  }

  #side-menu-collapse {
    display: none;
  }
}
@media only screen and (max-height: 425px) {
   .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .modal.auth-modal .modal-dialog  {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .modal.auth-modal .modal-dialog .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
  } 
}
