@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "become_a_teacher";
@import "search_results";
@import "home";

    /* Basic Page CSS */
  html,body {
    height:100%;
    font-size: 16px;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: transparent; 
  } /*prevent background color on focus*/

  .navbar-collapse .navbar-right li a:focus, nav li a:hover {
    border-color:  none;
    box-shadow: none;
    outline: none;
    color: #fff;
  } /*prevent outline on focus*/

/* Auth Modal */

  .modal-close {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .modal.auth-modal .modal-dialog .modal-content {
    padding: 20px;
  }
  
  .modal-body {
    padding-right: 0;
    padding-left: 0;
  }

  .social-buttons {
    text-align: center;
  }

  .btn-facebook {
    background-color: #3B5998;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    font-weight: bold;
  }

  .btn-google {
    background-color: #DC4E41;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    margin-top: 8px;
    font-weight: bold;
  }
  .btn-email {
    background-color: #fff;
    border-color: #c4c4c4;
    border: 1px solid;
    border-radius: 2px;
    color: #565a5c;
    width: 100%;
    font-weight: bold;
  }

  .or-seperator {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .login-switch {
    padding: 20px 20px 0 20px;
    text-align: center;
  }





/*Login Modal*/
.email-row {
  margin-bottom: 7px;
}

#ModalLogin form .form-control {
  border-radius: 2px;
}

.btn-login, .btn-signup {
  margin-top: 15px;
  width: 100%;
  background-color: #55acee;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
}

.password-confirm {
  margin-top: 7px;
}



/* Media Queries */
@media only screen and (max-width: 767px) {

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
  }
}


@media only screen and (min-width: 767px) {
  .modal.auth-modal .modal-dialog {
    width: 315px;
    position: relative;
  }
  .modal.auth-modal .modal-dialog .modal-content {
      border-radius: 2px;
  }
}
@media only screen and (max-height: 425px) {
   .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .modal.auth-modal .modal-dialog  {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .modal.auth-modal .modal-dialog .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
  } 
}
