@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
	height:100%;
	font-size: 16px;
}

.navbar {
	background-color: transparent;
	border: none;
	
}

#nav-brand, #nav-elements li a {
	color: #FFFFFF;
	font-size: 1em;
}


.home-header {
	background-image: url(bg-m2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	min-height: 480px;
	position: relative;
}
.home-header h1 {
	color: #FFFFFF;
	font-size: 3rem;
	text-align: center;
	position: absolute;
	top: 35%;
	width: 100%;
	font-weight: bold;
	letter-spacing: -.05em;
	text-shadow: #000 2px 2px 15px;
}

.form-container {
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
}
/* #main h1 {
	color: #FFFFFF;
	font-size: 3em;
	text-align: center;
position: absolute;
	font-weight: bold;
}

#testform {
	text-align: center;
	font-weight: bold;

}

.form-row {
	position: relative;
 	top: 80%;
 	transform: translateY(-80%);
} */

