#teacher-application-container {
	
	.navbar {
		background-color: #4ec7c4;
		color: #fff;
		border-radius: 0;
		text-align: center;
		margin-bottom: 0;
	}

	input, textarea {
		border-radius: 0;
	}
	
	.layout-top {
		text-align: center;
		padding: 35px;
		background-image: image-url("teacher-application.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		  width: 100%;
		  height: 100%;
	} 

	.teacher-application-text {
		display: inline-block;
		width: 42%;
		text-align: left;
		vertical-align: top;
		margin-left: 36px;
		color: #fff;
		text-shadow: #000 2px 2px 15px;
	}

	.teacher-application-text h1 {
		margin-bottom: 50px;
		font-size: 48px;
	}
	.teacher-registration-form-container {
		width: 350px;
		margin: 0 auto;
		display: inline-block;
		background-color: #F1F1F1;
		padding: 35px;
		position: absolute;
	}

	#application {
		padding-top: 20px;
		margin: 0 auto;
	}

	.submit-application {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.btn-apply {
		background-color: #00bce4;
		color: #fff;
		border-radius: 2px;
		width: 100%;
	}

	#language-select {
		width: 100%;
	}
}