#home-page {
	
	width: 100%;
	height: 100%;

	.home-hero-overlay, .home-hero {
		width: 100%;
		height: 100%;
		min-height: 400px;
	}

	.home-hero-overlay {
		background: rgba(5, 0, 33, 0.9);
		display: table;
	} 	

	.home-hero {
		background-image: image-url("bg4.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	} 	
	
	.hero-content {
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
		h1 {
			color: #fff;
			font-size: 42px;
			letter-spacing: 0.075em;
		}

		h3 {
			color: rgba(255, 255, 255, 0.7);
			font-size: 18px;
			margin-top: 24px;
			margin-bottom: 36px;
			letter-spacing: 0.005em;
		}

		.hero-content-container {
			margin: 0 auto;
		}

		.home-search-form {
			margin-top: 30px;
			.home-location-input, .home-lesson-input, .btn-home-search {
				border-radius: 0;
			}

			.home-lesson-input, .btn-home-search {
				margin-left: -5px;
			}


			.form-control{
				height: 55px;
				font-size: 18px;
				color: #999FAC;
			}

			.btn-home-search {
				height: 55px;
				padding-left: 24px;
				padding-right: 24px;
				background-color: #ff5252;	
				color: #fff;			
			}

			.btn-home-search:hover {
				background-color: #D50000;
			}
		}
	}

	@media (max-width: 768px) {
	
	.xs-lesson-input, .icon-xs-search {
		border-radius: 0;
		padding: 11px 16px;
	}

	.xs-lesson-input {
		background-color: #fff;
		width: 80%;
		color: rgb(5, 0, 33);
	}

	.icon-xs-search {
		color: #fff;
		margin-left: -8px;
		background-color: #ff5252;
	}
}
	
	/* Navigation */
	.navbar {
	  background-color: transparent;
	  border: none; 
	  padding-top: 35px;

	  a {
	  	color: #fff;
	  }

	  #nav-brand {
	  	font-size: 34px;
	  	font-weight: bold;
	  }

	  .btn-home-login {
	  	border: 2px #ff5252 solid;
	  	padding: 9px 22px;
	  	color: #ff5252;
	  	border-radius: 25px;
	  }

	  .btn-home-login:hover {
	  	color: #fff;
			background-color: #ff5252;	  	
	  }

	  .home-nav-item:hover {
	  	color: #ff5252;
	  }

	}

	@media (max-width: 768px) { 
		#home-navbar {
			padding-top: 10px;
		}

		#homeNavbar {
			background-color: rgb(5, 0, 33);
		}
	}

	.scrolled {
			background-color: rgb(5, 0, 33);
			padding-top: 10px;
	}

	.home-get-started-section {
		h2 {
			font-size: 38px;
		}

		h3 {
			font-size: 19px;
			padding-right: 10%;
			padding-left: 10%;
			padding-bottom: 15px;
		}
		.btn-home-search-tutor, .btn-home-apply-teach {
			color: #fff;
			font-size: 18px;
			text-decoration: none;
			border-radius: 3px;			
		}

		.btn-home-search-tutor {
			background-color: #ff5252;
			padding: 12px 66px;
		}

		.btn-home-search-tutor:hover {
			background-color: #D50000;
		}

		.btn-home-apply-teach {
			background-color: #3F51B5;
			padding: 12px 17px;
		}

		.btn-home-apply-teach:hover {
			background-color: #283593;
		}
	}
	
	.row {
		margin: 0;
	}

	.search-tutor, .apply-teach {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 450px;		
		padding-right: 0;
		padding-left: 0;
	}

	.search-tutor {
		background-image: image-url("bg1.jpg");

	}

	.apply-teach {
		background-image: image-url("teacher-application.jpg");
	}
	

	.home-row-container {
		color: #fff;
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	}

	.text-protection-scrim {
		background: radial-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0));
		display: table;
		width: 100%;
		height: 100%;
	}


	#howitworks {
		background-color: #fff;
		text-align: center;

		h1 {
			color: #000;
			padding-top: 70px;
			margin: 0;
		}
		
		h2 {
			font-size: 24px;
		}

		h3 {
			font-size: 16px;
		}

		.howitworks-icon {
			height: 250px;
			width: 250px;
		}
		
		.how-it-works-items {
			padding-top: 50px;
			padding-bottom: 50px;
		}

	}

	#testimonials {
		background-color: #E8EAF6;

		.testimonials-items{
			height: 100%;
			width: 100%;
		}
		
		.testimonials-item {
			padding: 50px 15px 80px 15px;
		}

		.testimonials-content {
			background-color: #fff;
			border-radius: 3px;
			padding: 12px 12px 55px 12px;
			position: relative;
		}
		
		.testimonials-text {
			font-size: 14px;
		}

		.profile-name {
			margin-bottom: 0;
			font-weight: bold;
		}

		.profile-title {
			color: #D50000;
			margin: 0;
		}

		.img-profile {
			position: absolute;
			right: 15px;
			bottom: -30px;
			border: 6px solid rgba(0,0,0,0.1);
		}
	}


	.footer {
		background-color: rgb(5, 0, 33);
		text-align: center;
		padding-top: 70px;
		padding-bottom: 140px;
		position: relative;

		h1 {
			color: #fff;
			margin-bottom: 10px;
			font-size: 48px;
		}
		

		.btn-footer-start-learning, .btn-footer-apply-teach {
			font-size: 21px;
			text-decoration: none;	
			border-radius: 3px;
			margin: 25px 12px 25px 12px;
		}

		.btn-footer-start-learning {
			padding: 12px 20px;
			background-color: #fff;
			color: rgb(5, 0, 33);
		}

		.btn-footer-start-learning:hover {
			background-color: #E8EAF6;
		}

		.btn-footer-apply-teach {
			padding: 11px 58px;
			background-color: rgb(5, 0, 33);
			color: #fff;	
			border: 2px solid #fff;				
		}

		.btn-footer-apply-teach:hover {
			background-color: #E8EAF6;
			color: rgb(5, 0, 33);
		}
	}

	.footer-links {
		position: absolute;
		bottom: 10px;
		left: 10px;
		color: #fff;
	}

}