#home_page {

	/* Navigation */

	.navbar.scrolled {
	  background-color: #fff;
	  border-bottom: 1px solid #adadad;
	   
	  ul.nav.navbar-nav li a, 
	  ul.nav.navbar-nav li a:hover,
	  #nav-brand,
	  button.navbar-toggle.pull-left span.icon-bar {
	    color: #000;
	  }
	  button.navbar-toggle.pull-left span.icon-bar {
	    background-color: #000;
	  }
	  @media only screen and (max-width: 767px) {
	    ul.nav.navbar-nav li a, 
	    ul.nav.navbar-nav li a:hover {
	      color: #fff;
	    }   
	  }
	}

	 
	.navbar {
	  background-color: transparent;
	  border: none; 
	}

	ul.nav.navbar-nav li a {
	  color: #FFFFFF;
	  font-size:  1.14286rem;
	}

	ul.nav.navbar-nav li a:hover {
	  color: #fff;
	}


	#nav-brand {
	  color: #fff;
	  font-size: 25px;
	  font-weight: bold;
	}    

	button.navbar-toggle.pull-left span.icon-bar {
	  background-color: #fff;
	} 
	      
	button.navbar-toggle.pull-left {
	  border: none;
	}

	/* Carousel */

	.carousel.fade {
	  background-color: rgba(0,0,0,0.3);
	  opacity: 1;
	}

	.carousel.fade .item {
	  z-index: -1;
	  transition: opacity ease-out .7s;
	  left: 0;
	  opacity: 0;
	  top: 0;
	  position: absolute;
	  width: 100%;
	  display: block;
	}

	.carousel.fade .item:first-child {
	  top: auto;
	  opacity: 0;/*   WHY */
	  position: relative;
	}

	.carousel.fade .item.active {
	  opacity: 1;
	}

	#featured .item {
	  
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
	  width: 100%;
	  height: 100%;
	}

	/* Carousel inner elements */

	#home-header, #featured, .fullheight {
	  min-height: 475px;
	}

	.home-header h1.container {
	  color: #FFFFFF;
	  font-size: 50px;
	  text-align: center;
	  position: absolute;
	  top: 45%;
	  width: 100%;
	  font-weight: bold;
	  letter-spacing: -.05em;
	  text-shadow: #000 2px 2px 15px;
	}
	.home-header h2.container {
	  color: #FFFFFF;
	  font-size: 24px;
	  text-align: center;
	  position: absolute;
	  top: 65%;
	  width: 100%;
	  font-weight: normal;
	  text-shadow: #000 2px 2px 15px;
	}
	.form-container {
	  position: absolute;
	  bottom: 0px;
	  width: 100%;
	  padding: 0;
	  text-align: center;
	}

	.form-container .well {
	  background-color: rgba(0,0,0,.65);
	  border: none;
	}


	/*  how it works section */

	.how {
	  background-color: #ff;
	}

	.how .container {
	  padding-top: 30px;
	  text-align: center;
	}

	.how .row {
	  padding-top: 20px;
	  padding-bottom: 70px;
	}

	.icon_image {
	  width: 180px;
	  height: 180px;
	}

	/*teacher section*/

	.teacher {
	  background-color: #2d96dd;
	}

	.teacher .container {
	  color: #fff;
	  padding-top: 30px;
	  text-align: center;
	}

	.teacher .container p {
	  padding-bottom: 30px;
	  color: #f5f5f1;
	}

	.btn-teach {
	  color: #fff;
	  border-radius: 0;
	  background-color: #f2c200;
	}

	/* footer */

	.footer {
	  text-align: left;
	  padding-top: 50px;
	  padding-bottom: 10px;
	}

	.terms, .copyright {
	  color: #fff;
	}
	/* Media Queries */
	@media only screen and (max-width: 767px) {
	  
	  .navbar {
	    background-color: rgba(0,0,0,.2);
	    border-bottom: 1px solid #adadad; 
	  } 
	  #side-menu-collapse {
	    color: #fff;
	  }
	  
	  .side-collapse {
	      top: 0;
	      left: 0;
	      width: 85%;
	      height: 100%;
	      position: fixed;
	      overflow: hidden;
	      background-color: #202024;
	  }

	  .side-collapse.in {
	      width: 0;
	      background-color: #202024;
	  }

	  .side-menu-container {
	    padding: 16px;
	  }
	  
	  .navbar-collapse {
	    border: none;
	    box-shadow: none;
	  }
	  .navbar-brand {
	    padding-left: 0;
	    position: absolute;
	    width: 30%;
	    left: 0;
	    top: 0;
	    text-align: center;
	    margin-left: 40%;
	  }
	  .home-header h1.container {
	    font-size: 32px;
	    top: 40%;
	  }

	  .home-header h2.container {
	    font-size: 18px;
	    top: 68%;
	  }
	  .btn-group {
	    position: relative;
	    bottom: 75px;
	    width: 100%;
	  }
	  .btn-group .language-button {
	    width: 80%;
	  }
	  .btn-group .search-button {
	    background-color: #070716;
	    color: #fff;
	  }

	  button.btn.btn-default.search-button {
	    margin-left: -8px;
	  }

	  div.xs-buttons {
	    text-align:center;
	  }
	}


	@media only screen and (min-width: 767px) {

	  #side-menu-collapse {
	    display: none;
	  }
	}

}