#listings-show {
	background-color: #F1F1F1;
	padding-top: 30px;
	
	#user_image {
		height: 225px;
		width: 225px;
		background-color: #fff;
	}

	.fullname {
		font-size: 24px;
		font-weight: bold;
	}

	.booking {
		background-color: #fff;
	}
}