#search-results {
	background-color: #f1f1f1;

	.howitworks-icon {
		float: right;
	}

	.search-filters {
		background-color: #fff;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		height: 200px;

		.form-control {
			height: 38px;
		}

		p {
			font-weight: bold;
		}

		.filters-location-input, .filters-lesson-input, .btn-filters-search {
			border-radius: 0;
		}

		.filters-lesson-input, .btn-filters-search {
			margin-left: -5px;
		}		
		

		.filters-location-input{
			padding-right: 40px;
		}

		.filters-lesson-input {
			padding-right: 60px;
		}

		.btn-filters-search {
			background-color: #D50000;
			color: #fff;
      padding: 8px 42px;
		}

		.availability-filter, .price-range-filter, .platform-filter, .sort {
			display: inline-block;
			float: left;
		}
		
		.availability-select, .platform-select {
			border: 1px solid #000;
		}

		.price-range-filter, .availability-filter, .sort {
			margin-left: 20px;
		}

		#slider-range {
			width: 155px;
		}

		#amount {
			width: 100px;
		}
		
		.sort {
			padding-top: 40px;
			font-weight: bold;
		}


	}

	#listing-results {
		
		.listing-avatar {
			position: absolute;
			top: 0;
			left: 0;
		}

	}






}