#search-results {

    #nearby-filters {

    	text-align: center;
    	padding-top: 20px;
		.btn-filter {
			border-radius: 0;
			background-color: #E91E63;
			color: #fff;
		}
    }

	#search-filters {
		text-align: center;
		height: 100px;
		padding-top: 20px;

		.btn-filter {
			border-radius: 0;
			background-color: #E91E63;
			color: #fff;
		}
	}

	#tutor-list {
		background-color: #F1F1F1;
		padding-top: 30px;

		.well-lg {
			background-color: #fff;
			border-radius: 0;
			padding-top: 0;
			padding-left: 0;
			position: relative;
			padding-left: 200px;
		}
	}

	.listing-avatar {
		float: left;
		height: 136px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.name {
		font-weight: bold;
		font-size: 24px;
	}

	.price-label {
		color: #999;
		font-weight: bold;
	} 

	.price {
		font-weight: bold;
	}

	.btn-schedule {
		background-color: #4D90FE;
		color: #fff;
	}

	.btn-message {
		background-color: #E91E63;
		color: #fff;
	}
}


