  #timetable {
    border: none;

    th {
      border: none;
    }
  }



  table td {
    background-color:#fff;
    border:1px solid #000;
  }

  table td.selected {
    background-color:green;
  }

.timetable-rows td:first-child {
  background-color: #FAFBFC;
  text-align: right;
  position: relative;
  top: -18px;
  border: none;
}